<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02_crud.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DE580152A8F03DD00019A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE580252A8F03E000019A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE5802F2A8F03E000019A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
